{
  "vlm_primary_service": "qwen3.5",
  "llm_primary_service": "qwen3.5",
  "vlm_secondary_service": "qwen3-vl-2b",
  "llm_secondary_service": "qwen3-4b",
  "debug": false,
  "browser": {
    "viewport": {
      "width": 1280,
      "height": 1100
    }
  },
  "max_iteration_times": 10,
  "qwen3.5": {
    "api_key": "sk-xxx",
    "base_url": "https://your.base.url/v1/",
    "model": "qwen3.5-397b-a17b",
    "temperature": 0.0
  },
  "qwen3-4b": {
    "api_key": "sk-yyy",
    "base_url": "https://your.base.url/v1/",
    "model": "qwen3-4b",
    "temperature": 0.0
  },
  "qwen3-vl-2b": {
    "api_key": "sk-zzz",
    "base_url": "https://your.base.url/v1/",
    "model": "qwen3-vl-2b-instruct",
    "temperature": 0.0
  }
}